<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>DesktopRenamer.sdef</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/gitmichaelqiu/DesktopRenamer/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>e9YKamydRddgnYK6Kq41W0vPbwI4F9XJAhks/9rzT0w=</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>DesktopRenamer needs to control System Events to switch between desktops via Mission Control when necessary.</string>
</dict>
</plist>
